#map {
    height: 800px; /* 60% of the viewport height */
    width: 800px;
    border-radius: 20px; /* Optional: adds rounded corners to the map */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: adds a slight shadow for depth */
    text-align: center;
  }
  
  /* Additional styles to ensure the parent container centers the map properly */
  .map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust based on your layout */
  }
  
  #marker {
    background-image: url('https://img.freepik.com/free-vector/gradient-coding-logo-template_23-2148809439.jpg?w=826&t=st=1712620043~exp=1712620643~hmac=ec9b757e8a8eff21c68c931b46cb465ab905abedd131b07272db6167936a8cb5');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
}
